@import './media_queries.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

//General Colors
$blue:#070425 ;
$button-color: #f77656;
$yellow: #b88f38;
$gray: #979797;

.App{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 20px;
    background-color: white;

}

body{
    background-color: black;
}

header{
    display: flex;
    width: 100%;

    div{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 12px;

        ul{
            display: none;
    
        }
        
        button{
            border: none;
            background-color: transparent;
        }
    }
}

.article_main{
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 12px;
    margin-top: 16px;

    figure{
        width: 100%;

        img{
            width: 100%;
            background-position: center;
        }
    }

    h3{
        font-size: 4.1rem;
        font-weight: bold;
    }

    h5{
        
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2.5rem;
        color: $gray;
    }

    button{
        font-size: 1.4rem;
        padding: 12px 32px;
        justify-self: flex-start;
        border: none;
        background-color: $button-color;
        color: white;
        margin: 12px 0; 
        font-weight: bold;
        letter-spacing: 2px;
        cursor: pointer;
    }

    button:hover{
        background-color: $blue;
    }
}

.article_second{
    display: flex;
    flex-direction: column;
    padding: 18px;
    gap: 12px;
    margin-top: 50px;
    background-color: $blue;

    h3{
        font-size: 3rem;
        color: $yellow;
    }


    div{
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 12px 0;

        .title{
            font-size: 2rem;
            font-weight: bold;
            color: white;
            cursor: pointer;
        }

        .title:hover{
            color: $yellow;
        }

        .txt{
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 300;
            color: $gray;
            margin-bottom: 8px;
        }
    }

    .uper, .middle{
        border-bottom: 1px solid $gray;
    }


}

.article_list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 50px;

    article{
        display: grid;
        grid-template-areas: 
        "img data";
        grid-template-columns: auto 65%;
        height: 150px;
        gap: 12px;

        figure{
            grid-area: img;
            width: 100%;
            max-height: 100%;

            img{
                width: 100%;
                height: 150px;
            }
        }

        div{
            display: flex;
            flex-direction: column;
            gap: 8px;

            h2{
                font-size: 3rem;
                font-weight: bold;
                color: $gray;
            }

            h3{
                font-size: 1.7rem;
                cursor: pointer;
            }

            h4{
                font-size: 1.45rem;
                font-weight: 500;
                line-height: 2.6rem;
                color: $gray;
            }

            h3:hover{
                color: $button-color;
            }
        }
    }
}

.mobile_menu{
    position: absolute;
    display: none;
    flex-direction: column;
    width: 70%;
    height: 100vh;
    gap: 40px;
    padding: 24px;
    right: 0;
    top: 0;
    background-color: white;

    button{
        align-self: flex-end;
        background-color: transparent;
        border: none;
    }

    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 24px;

        li{
            font-size: 2rem;
            font-weight: 400;
        }
    }
}

@include querie-s{

    body{
        display: flex;
        justify-content: center;
        background-color: white;
    }

    .App{
        display: grid;
        grid-template-areas: 
        "head head"
        "section1 section2"
        "section3 section3";
        grid-template-rows: auto auto auto;
        grid-template-columns: 70% auto;
        padding-top: 24px;
        max-width: 1000px;
        padding: 24px 20px;
    
        header{
            grid-area: head;
    
            div{
    
                button{
                    display: none;
                }
    
                ul{
                    width: 50%;
                    display: flex;
                    justify-content: flex-end;
                    gap: 24px;
                    list-style: none;
    
                    li{
                        color: $gray;
                        font-size: 1.5rem;
                        cursor: pointer;
                    }

                    li:hover{
                        color: $button-color;
                    }
                }
            }
        }
    
        .article_main{
            grid-area: section1;
            display: grid;
            grid-template-areas: 
            "img img"
            "title txt"
            "title btn";
            margin: 0;
    
            figure{
                grid-area: img;
                width: 100%;
                height: 300px;
    
                img{
                    width: 100%;
                    height: 100%;
                    background-image: url('../assets/images/image-web-3-desktop.jpg');
                }
            }
    
            h3{
                grid-area: title;
                line-height: 6rem;
            }
    
            h5{
                grid-area: txt;
            }
    
            button{
                grid-area: btn;
                padding: 0px 42px;
                margin: 0;
            }
        }
    
        .article_second{
            grid-area: section2;
            margin: 0;
            justify-content: space-evenly;

            h3{
                font-size: 4rem;
            }
        }
    
        .article_list{
            grid-area: section3;
            margin: 0;
            flex-direction: row;
        }
    }

}

@include querie-m{
    .App{
        max-width: 1200px;
    }
    
}